header{
    background-color: #C4C4C4;
    border-bottom: 1px solid;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
}

p{
    margin: 1em;
    border: 1px solid;
    border-radius: 10px;
    padding: 1em;
}

.conteudo{
    background-color: white;
    margin-top:5%;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px solid black;
}

.listaMensagens{
    height: 400px;
}

.campoEnvio{
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #C4C4C4;
    height: 200px;
    padding:10px;
}

.campoEnvio .texto{
    position: relative;
    width:80%;
}

#form{
    display: flex;

    height: 100%;
}

.Deletar{
    margin-left: 90%;
    margin-right: 100%;
    margin-bottom: 1%;
    background-color: #ff0000;
    color:white;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

.campoEnvio .botao{
    margin-left: 2%;
    margin-right: 2%;

    font-size: 1.5em;
    background-color: #0066CC;
    color:white;

    height: 25%;
    width:20%;

    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
}